// color
$accentColor = #008bbb
$textColor = #555555
$borderColor = #aaaaaa
$codeBgColor = #282c34

header-bgcolor = #66cccc
font-size = 16px
base-font = font-size "Lucida Grande", Arial

html
  overflow-y scroll

body
  font base-font, sans-serif

.navbar
  background-color header-bgcolor
